body
{
	font-size:       82.5%; 
	margin:          0;
	padding:         0;
	background-color: #000;
	font-family:     'lucida grande', arial, tahoma, sans-serif;
}

#container
{
	margin:          0 auto;
	padding-top:20px;
	width:           1083px;
	position:        relative;
	background-color:  #000;
}

#header
{
	margin:          0 auto;
	width:           1040px
	height:          280px;
	background:      transparent url('header.jpg') center no-repeat;
}

.headtitle
{
	position:       relative;
	font-family:     Times;
	font-size:       70px;
	color:           #FFFFFF;
	line-height:	280px;
	text-align:	center;
}	

#menu
{
	margin:          0 20px;
	height:          29px;
	padding:         5px 0;
}

#menu ul
{
	margin:          0;
	padding:         7px;

	height:          29px;
}

#menu ul li
{
	list-style:      none;
	width:		120px;
	height:		25px;
	line-height:	25px;
	text-align:	center;
	float:		left;
}

#menu ul li a
{
	color: #767676;
	text-decoration: none;
	display: block;
}

#menu ul li a:hover
{
	background-color:   #6A7919;
	color:           #FDFDFD;
}

#menu ul ul
{
	margin:		0px;	padding:	0px;		
	position:	absolute;
	display:	none;
}
#menu ul li:hover > ul
{
	display:	block;
}
#content
{
	min-height:      390px;	width:           1040px;
	margin:          0 auto;
	background-color:#000000;
}

#insidecontent
{
	float:           left;
	padding-left:    25px;
	padding-right:    25px;
	width:           auto;
}

#insidecontent p
{
	margin:          0;
	color:           767676;
	font-family:     Tahoma;
	font-size:       1.2em;
	line-height:     170%;
}




h1
{
	margin:          0;
	font-weight:     normal;
	color:           #800000;
	font-size:       2.5em;
	font-family:Times;
}

h2
{
	margin:          0;
	display:         inline;
	position:        relative;
	top:             -1.5em;
	left:            2em;
	font-size:       1.8em;
	font-weight:     normal;
	color:           0AA50F;
}

h3
{
	margin:          0;
	font-size:       1.5em;
	font-weight:     normal;
	color:           138B17;
}

#footer
{
	margin:          0 auto;
	width:           641px;
	height:          39px;

}

#footer span
{
	display:         block;
	position:        relative;
	font-family:    Tahoma;
	font-size:       1.2em;
	padding:         10px;
	color:           #767676;
}
